body{
    font-family: 'Press Start 2P', cursive;
}


/* Falling LadyBirds*/
.bodyCard p{
    font-size: xx-small;
}
.secondSection{
    position: absolute;
    width: 100%;
    height:1060px;
    background: none;
    z-index: -1;
    
}
.secondSection .set{
    position: absolute;
    height: 420px;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.secondSection .set div{
    position: absolute;
    display: block;
    
}
.secondSection .set div:nth-child(1){
    left: 20%;
    transform: rotate(45deg);
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.secondSection .set div:nth-child(2){
    left: 50%;
    transform: rotate(45deg);
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.secondSection .set div:nth-child(3){
    left: 70%;
    transform: rotate(65deg);
    animation: animate 20s linear infinite;
    animation-delay: 0s;
}
.secondSection .set div:nth-child(4){
    left: 35%;
    transform: rotate(-45deg);
    animation: animate 15s linear infinite;
    animation-delay: 0s;
}
.secondSection .set div:nth-child(5){
    left: 85%;
    transform: rotate(-75deg);
    animation: animate 18s linear infinite;
    animation-delay: -10s;
}
.secondSection .set div:nth-child(6){
    left: 0%;
    animation: animate 12s linear infinite;
}
.secondSection .set div:nth-child(7){
    left: 15%;
    animation: animate 14s linear infinite;
}
.secondSection .set div:nth-child(10){
    left: 90%;
    animation: animate 16s linear infinite;
    animation-delay: 1s;
}
.secondSection .set div:nth-child(10){
    left: 90%;
    animation: animate 16s linear infinite;
    animation-delay: -1s;
}
.secondSection .set div:nth-child(11){
    left: 95%;
    animation: animate 12s linear infinite;
    animation-delay: -2s;
}
.secondSection .set div:nth-child(12){
    left: 58%;
    animation: animate 16s linear infinite;
    animation-delay: -4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        top: -5%;
        transform: translateX(20px) rotate(0deg);
    }
    10%{
        opacity: 0.7;
    }
    20%{
        transform: translateX(-20px) rotate(45deg);
    }
    40%{
        transform: translateX(-20px) rotate(90deg);
    }
    60%{
        transform: translateX(20px) rotate(180deg);
    }
    80%{
        transform: translateX(-20px) rotate(180deg);
    }
    100%{
        top: 200%;
        transform: translateX(-20px) rotate(225deg);
    }

}
.set2{
    transform: scale(2) rotateY(180deg);
    filter: blur(2px);
}
.set2{
    transform: scale(0.8) rotateX(180deg);
    filter: blur(3px);
}

/* Navbar */


/* Card Div*/

.allCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    padding-left:1rem;
    padding-top: 5rem;
    margin-top: 0;
    z-index: 2;
}
.elaqe p {
    position: relative;
    left: 2rem;
}
.cardDiv{
    margin-bottom: 7rem;
}
/* Image */
.image{
    opacity: 0.83;
}



.formDiv{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 25%;
    height: 10%;
    z-index: 120; 
    display: none;
}
.esasdiv{
    position: relative;
    top: 1000px;
    width: 100%;
    height: 130px;
    background-color:transparent;
}
.button{
    position: relative;
    left: 3rem;
    margin-right: 1rem;
}
@media screen and (max-width:600px){
    .secondSection .set{
        width: 85%;
    }
    .allCard{
        padding-left:6rem;
    }
    .cardDiv{
        margin-bottom: 2rem;
    }
    .button2{
        font-size: 5px;
        width: 10rem;
        position: relative;
        bottom: 2.5rem;
        left: 6rem;
        text-align: center;
        transform: rotateY(45deg);
    }
    .button1{
        font-size: 5px;
        width: 10rem;
        position: relative;
        bottom:0;
        left: 14rem;
        text-align: center;
        transform: rotateY(45deg);
    }
    footer{
        height: 2rem;
    }
    .elaqe p {
        position: relative;
        left: 0;
    }
}
.allsHere{
    display: flex;
}
footer{
    width: 100%;
    z-index: 2;
    background: transparent;
}
.mrs{
    margin-left: 50rem;
    margin-bottom: 30rem;
}

/*Scroll */
 ::-webkit-scrollbar {
    width: 10px;
    }
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb {
    background: #aeb0b3; 
    border-radius: 0px;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #4d5358; 
    }
/* Form Section */
